{% comment %}Show webinar item on learning page{% endcomment %}
{% assign item = include.item %}
{% include webinars/setup.html item=item %}
### {{item.webinar_title}}

{{item.webinar_description}}

{% assign accordionName = 'register-' | append: name %}
<ul class="usa-accordion">
<li>
<button class="usa-accordion-button" aria-expanded="false" aria-controls="{{accordionName}}">View schedule and register</button>
<div id="{{accordionName}}" class="usa-accordion-content" markdown="1">

<div class="usa-grid">
<div class="usa-width-one-half">
{% assign yesterday = site.time | date: "%s" | minus: 864000 | date: "%Y%m%d" %}
{% for section in item.webinar_sections %}
{% assign date8 = section.date  | date: "%Y%m%d" %}
{% if date8 > yesterday %}
<div class="expire-{{date8}}  fodder" markdown="1">
#### {{section.date | date: "%b %d, %Y" }}
{% for session in section.sessions %}
{% assign timeSec = session.time | date: "%s" | times: 60 | round %}

- {{section.date | date: "%s" | plus: timeSec | date: "%r" }} — [Register]({{ site.baseurl }}/exit/?idx={{session.link}}){:rel="nofollow"}
{% endfor %}
</div>
{% endif %}
{% endfor %}
</div>
<div class="usa-width-one-half" markdown="1">
Registration password: **TSPweb**

{% for note in item.webinar_notes %}
{{note}}

{% endfor %}
</div>
</div> <!-- END usa.grid -->

</div>
</li>
</ul>
