{% comment %}
This creates the start of an 'Adjust Your Results' div.
{% endcomment %}
{% assign caption = include.caption | default: 'Caption' %}
{% assign showPanel = include.showPanel | default: 1 %}
{% assign gotoAnchor = include.gotoAnchor | default: 'top' %}
{% assign divID = include.divID | default: '' %}
{% if divID != '' %}{% assign divID = 'id="' | append: divID | append: '"' %}{% endif %}
<div {{tableID}} class="usa-grid caption">
  <div class="usa-width-one-whole">{{caption}}<a href="#{{gotoAnchor}}" onClick="showPanel({{showPanel}});">Change</a></div>
</div>
