<div class="usa-alert usa-alert-warning holiday">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Holiday closing</h3>
    <p class="usa-alert-text">
      Some financial markets will be <strong>closed on Thursday, July 4th</strong> in observance of the Independence Day holiday. The Thrift Savings Plan will also be closed. Transactions that would have been processed Thursday night (July 4th) will be processed Friday night (July 5th), at Friday's closing share prices.
    </p>
  </div>
</div>

<!-- DAV, alternately you could always keep class "holiday" and add/remove class "outage", which controls the icon. E.g.,
<div class="usa-alert usa-alert-warning holiday outage"> -->
<div class="usa-alert usa-alert-warning outage">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Scheduled outage</h3>
    <p class="usa-alert-text">
       Due to scheduled system maintenance, <strong>My Account, the ThriftLine, and frtib.gov will be unavailable</strong> from 1:30 a.m. (ET) on Saturday, August 22, to 1:30 a.m. (ET) on Monday, August 24. You can still visit public pages on tsp.gov, but information that updates automatically, such as share prices, will be unavailable. Thank you for your patience.
    </p>
  </div>
</div>
