{% assign cbMessage = '' %}
{% if include.checkboxMessage %}{%  capture cbMessage %}
Or, use the [checkboxes above](#fund-checkboxes) to show only the funds you want to see.
{% endcapture %}{% endif %}
  <!-- Alert style -->
  <div class="scroll-alert-container">
    <div id="scrollAlert" class="usa-alert usa-alert-info keyboard usa-alert-paragraph hidden">
      <div class="usa-alert-body">
        <p class="usa-alert-text" markdown="1">
          Use the <strong><a href="javascript:void(0);" id="slideLeft" class="move-left">left</a></strong> and <strong><a href="javascript:void(0);" id="slideRight" class="move-right">right</a></strong> buttons on your keyboard to scroll sideways. {{cbMessage}}
        </p>
      </div>
    </div>
  </div>
