{% assign cbMessage = '' %}
{% if include.checkboxMessage %}{%  capture cbMessage %}
Or, use the [checkboxes above](#fund-checkboxes) to show only the funds you want to see.
{% endcapture %}{% endif %}
{% if include.alert %}
  <!-- Alert style -->
  <div id="scrollAlert" class="usa-alert usa-alert-info usa-alert-paragraph hide">
    <div class="usa-alert-body">
      <p class="usa-alert-text" markdown="1">
        Use the <strong>left</strong> and <strong>right</strong> buttons on your keyboard to scroll sideways. {{cbMessage}}
      </p>
    </div>
  </div>
{% endif %}
{% if include.buttons %}
  <!-- Scroll buttons style -->
  <div id="scrollButtons" class="table-scroll-buttons">
    <button id="slideRight" class="usa-button-secondary" type="button" disabled="disabled"><i class="fal fa-arrow-to-left"></i> Scroll left</button>
    <button id="slideLeft" class="usa-button-secondary" type="button" disabled>Scroll right <i class="fal fa-arrow-to-right"></i></button>
  </div>
{% endif %}
