{% comment %}
This content will show at the top of every page. It is intended for a site wide alert.
- TO TURN IT OFF, move the endcomment to the bottom of this content.
- TO TURN IT ON, move the endcomment just below this text and alter the content in the section to the alert you want.
- Search project for "expand-site-alert:" to find pages that can expand the alert onLoad.

{% assign expand = false %}
{% if page.expand-site-alert %}{% assign expand = true %}{% endif %}
<section class="site-banner outage">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <!-- <i class="fas fa-power-off usa-banner-icon" alt="Alert"></i> -->
      <i class="far fa-info-circle usa-banner-icon" alt="Alert"></i>
      <ul class="usa-accordion usa-banner-content">
        <header>
          <li>
            <button class="usa-accordion-button" aria-expanded="{{expand}}" aria-controls="outage-1">Changes to catch-up contributions</button>
            <div id="outage-1" class="usa-accordion-content" aria-hidden="false">
            Starting in January 2021, we’re making the process easier for participants. If you’re turning 50 or older and are eligible for catch-up, you’ll no longer need to make separate catch-up elections to your TSP account. To learn how to make these contributions next year, visit <a href="{{ site.baseurl }}/making-contributions/catch-up-contributions/">Catch-up contributions</a>.
            </div>
          </li>
        </header>
      </ul>
    </div>
  </div>
</section>

{% endcomment %}
