
{% comment %}
Calculate absolute URL for a collection item.
{% endcomment %}
{% assign curPath = include.curPath | default: '/forms/' %}
{% assign rawURL = include.rawURL | default: 'index.html' %}
{% assign relURL = include.rawURL | prepend: '{{ site.baseurl }}' %}
{% assign absURL = curPath | append: rawURL %}

{% assign externalURL = rawURL | slice: 0, 7 %}
{% if externalURL contains 'http' or externalURL contains 'site' %}{% assign absURL = rawURL %}{% endif %}

{% assign internalURL = rawURL | slice: 0, 1 %}
{% if internalURL == '/' %}
  {% assign absURL = relURL %}
    {% comment %}
    ^ This makes absURL = rawURL, because relURL = include.rawURL
    {% endcomment %}

  {% assign rawURL = relURL %}
    {% comment %}
    ^ Then we set rawURL = relURL, which is {{ site.baseurl }} + rawURL
      This is how we use the rawURL a=href on the calling page, which does not include site.baseurl
      But we need site.baseurl for relURL, which is why it is prepended.
    {% endcomment %}
{% endif %}
