
{% comment %}
Calculate absolute URL for a collection item.
{% endcomment %}
{% assign curPath = include.curPath | default: '/forms/' %}
{% assign rawURL = include.rawURL | default: 'index.html' %}
{% assign absURL = curPath | append: rawURL %}

{% assign prefixURL = rawURL | slice: 0, 7 %}
{% if prefixURL contains 'http' or prefixURL contains 'site' %}{% assign absURL = rawURL %}{% endif %}


{% assign prefixxxURL = rawURL | slice: 0, 1 %}
{% if prefixxxURL == '/' %}{% assign absURL = rawURL %}{% endif %}




{% comment %}

{% assign prefixURL = rawURL | slice: 0, 7 %}
{% if prefixURL == 'site' %}{% assign absURL = rawURL %}{% endif %}

{% if prefixURL | startswith: '/' %}{% assign absURL = rawURL %}{% endif %}


(if prefixURL == 'http') and (if prefixURL contains 'site') prevent My Account links from being prepended with curPath — either /forms/ or /publications/.
{% endcomment %}

{% comment %}
ORIGINAL CODE
Calculate absolute URL for a collection item.

{% assign curPath = include.curPath | default: '/forms/' %}
{% assign rawURL = include.rawURL | default: 'index.html' %}
{% assign absURL = curPath | append: rawURL %}
{% assign prefixURL = rawURL | slice: 0 %}
{% if prefixURL == '/' %}{% assign absURL = rawURL %}{% endif %}
{% assign prefixURL = rawURL | slice: 0, 4 %}
{% if prefixURL == 'http' %}{% assign absURL = rawURL %}{% endif %}

{% endcomment %}
