.usa-btn-primary,
.usa-button,
.usa-button-big,
.usa-button-secondary,
[type="button"].usa-button-big,
[type="button"],
[type="submit"],
button {
  border-radius: 0;

  &:before,
  &:after {
    font-family: $font-awesome;
    font-weight: $light;
    margin-right: 0.7rem;
    line-height: 1;
  }

  &:after {
    // margin-left: : 0.7rem;
  }

  &.calculate {
    &:after {
      font-family: $font-awesome;
      content: "\f1ec";
      font-weight: $light;
      padding-left: 0.5rem;
    }
  }

  &.clear {
    &:after {
      font-family: $font-awesome;
      content: "\f55a";
      font-weight: $light;
      padding-left: 0.5rem;
    }
  }

  &.download {
    &:before {
      content: "\f33d";
    }
    &:after {
      // Override a.download:after in _links.css
      content: none;
    }
  }

  &.expand {
    &:before {
      content: "\f065";
    }
  }

  &.open {
    &:before {
      content: "\f14c";
    }
  }

  &.save {
    &:after {
      font-family: $font-awesome;
      content: "\f0c7";
      font-weight: $light;
      padding-left: 0.5rem;
    }
  }

  &.print {
    &:after {
      font-family: $font-awesome;
      content: "\f02f";
      font-weight: $light;
      padding-left: 0.5rem;
    }
  }
}
