.usa-btn-primary,
.usa-button,
.usa-button-big,
.usa-button-secondary,
button.usa-button-big,
[type="button"].usa-button-big,
[type="button"],
[type="submit"],
button {
  border-radius: 0;

  &:before,
  &:after {
    font-family: $font-awesome;
    font-weight: $light;
    padding-right: 0.7rem;
    line-height: 1;
  }

  &:after {
    padding-left: 0.7rem;
  }

  &.build {
    &:after {
      content: "\f5ff";
      font-weight: $bold;
    }
  }

  &.calculate {
    &:after {
      content: "\f1ec";
    }
  }

  &.clear {
    &:after {
      content: "\f55a";
    }
  }
// 'Delete award' button, panel 7, RBCO
  // &.delete {
  //   margin-right: 0;
  //   box-shadow: none;
  //   color: $color-base;
  //
  //   &:after {
  //     font-size: 2rem;
  //     color: $color-gray-dark;
  //     transition: 0.3s;
  //     content: "\f1f8";
  //     font-weight: $bold;
  //   }
  //
  //   &:hover:after {
  //     box-shadow: inherit;
  //     color: $color-error;
  //   }
  // }


  &.download {
    &:before {
      content: "\f33d";
    }
    &:after {
      // Override a.download:after in _links.css
      content: none;
    }
  }

  &.expand {
    &:before {
      content: "\f065";
    }
  }

  &.open {
    &:before {
      content: "\f14c";
    }
  }

  &.save {
    &:after {
      content: "\f0c7";
    }
  }

  &.pdf {
    &:after {
      content: "\f1c1";
    }
  }

  &.print {
    &:after {
      content: "\f02f";
    }
  }
  &.write-in {
    background-color: #f9c642;
    &:after {
      content: "\f305";
    }
  }
  &.attention {
    background-color: #f9c642;
    color: $color-base;
  }
}
