.usa-grid {
  &.how-to {
    padding: 0;
    margin-bottom: 4.5rem;

    .usa-width-one-whole {
      border: 1px solid $color-gray-lighter;

      p {
        max-width: 100%;
      }

      img {
        // border: 1px solid $color-gray-lighter;
      }

      .steps {
        border-top: 1px solid $color-gray-lighter;
        padding-left: 3rem;
        padding-right: 3rem;

        h3 {
          font-family: $sans;
          margin-top: 3rem;
        }
      }

      ul {
        max-width: 66ch;
        // padding-left: 5rem;
      }
    }
  }
}
