// Styles for feedback modal and tab

#fba-button {
  position: fixed;
  bottom: 0;
  right: 50px;
  background: #02bfe7;
  color: #fff;
  padding: 5px 10px;
  font-size: 1em;
  text-decoration: none;
  z-index: 999999999;
}

#fba-modal {
  z-index: 11000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding: 20px;
  background-color: rgba(0,0,0,.25);
  height: 100%;

  #fba-modal-dialog {
    max-width: 500px;
    background: #fff;
    padding: 20px;
    position: relative;
    margin: 0 auto;
  }
  // #fba-overlay.is-active {
  //   position: fixed;
  //   bottom: 0;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   background-color: rgba(0,0,0,.25);
  //   z-index: 10000;
  // }
  h3#fba-modal-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-family: $serif;
    line-height: 1.3;
  }

  #fba-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 24px;
    color: #5b616b;
    background: none;
    line-height: 1;
    text-decoration: none;
    width: auto;
  }

  #fba-text-email,
  #fba-text-name {
    max-width: 100%!important;
    font-size: 100%;
  }

  #touchpoints-form {
    // fieldset {
    //   margin: 1rem 0;
    // }
    //
    // p {
    //   margin: 1rem 0;
    // }

    label.usa-label {
      // display: block;
      // margin-top: 1rem;
      background-color: transparent;
      border-radius: 2px;
      color: $color-base;
      font-size: 1.5rem;
      margin-right: 0.5rem;
      padding: 0.1rem 0.7rem;
      text-transform: uppercase;
    }

    // input {
    //   margin-bottom: 1.5rem;
    //   width: 75%;
    // }
    //
    // #fba-submit {
    //   width: auto;
    // }
  }
  // end #touchpoints-form
  .usa-banner {
    display: none;
  }
}
// end #fba-modal
