
a {
  &::after,
  &::before {
    font-family: $font-awesome;
    font-style: normal;
    font-weight: $light;
    display: inline-block;
    text-decoration: none;

  }

  &::after {
    padding-right: 0.4rem;
  }

  &::before {
    padding-right: 0.4rem;
  }

  &.move-left {
    &:before {
      content: "\f191";
    }
  }

  &.move-right {
    &:after {
      content: "\f191";
      transform: rotate(180deg);
    }
  }
  &.learn-more {
      &::after {
        content: '\f062';
        display: inline-block;
        transform: rotate(45deg);
        padding-left: 1rem;
        font-size: 1.1em;
        color: $color-base;
        // width: 1.8rem;
        // height: 2.8rem;
        // margin: 0 0 0 1.4rem;
      }
  }
  &.publication,
  &.form {
    &:after {
      font-family: $font-awesome;
      content: "\f1c1";
      padding-left: 0.4rem;
      font-style: normal;
      font-weight: $light;
    }
  }
  &.publication {
    font-style: italic;
  }
  &.external-link {
    &:after {
      font-family: $font-awesome;
      content: "\f08e";
      padding-left: 0.25em;
      font-style: normal;
      display: inline-block;
    }
  }
  &.new-tab {
    &:after {
      font-family: $font-awesome;
      content: "\f2d2";
      padding-left: 0.4rem;
      font-style: normal;
      display: inline-block;
    }
  }
  &.download {
    &:after {
      font-family: $font-awesome;
      content: "\f0ed";
      padding-left: 0.4rem;
      font-style: normal;
      font-weight: $black;
      display: inline-block;
      text-decoration: none;
      color: $color-gray;
    }
  }
    &.file-download {
      &:after {
        font-family: $font-awesome;
        content: "\f339";
        padding-left: 0.4rem;
        font-style: normal;
        font-weight: $light;
        display: inline-block;
        text-decoration: none;
      }
    }

  &.pdf {
    &:after {
      font-family: $font-awesome;
      content: "\f1c1";
      padding-left: 0.4rem;
      font-style: normal;
      font-weight: $normal;
      display: inline-block;
      text-decoration: none;
      color: $color-gray;
      color: #de231a;
    }
  }
}
