section.bootstrap-image-modal {
  float: right;

  .thumbnail-container {
    position: relative;
    width: 100%;
    margin-left: 1.5rem;
    // i {
    //   position: absolute;
    //   top: 90%;
    //   left: 90%;
    //   color: #fff;
    // }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.3s ease;
      background-color: transparent;

      &:before {
        font-family: $font-awesome;
        content: "\f00e";
        color: $color-gray-warm-dark;
        font-size: 18rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }

      #myImg {
        opacity: 0.7;
      }
    }

    figure {
      margin: 0.75rem;
    }

    figcaption {
      color: $color-gray-light;
      padding: 0;

      span {
        &:before {
          font-family: $font-awesome;
          content: "\f00e";
          padding-right: 0.5rem;
        }
      }
    }
  }
  // end .thumbnail-container

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    max-width: 300px;
  }

  #myImg:hover {
    opacity: 0.7;
  }
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9500;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.8);
    /* Black w/ opacity */
  }
  /* Modal Content (image) */
  .modal-content,
  .modal-view-buttons,
  figcaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  /* Caption of Modal Image */
  .modal-view-buttons,
  figcaption {
    // margin: auto;
    // display: block;
    // width: 80%;
    // max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: auto;

    p {
      width: auto;
      max-width: 60ch;
      text-align: left;
      margin: 0 auto;
    }
  }
  /* Add Animation */
  .modal-content,
  figcaption,
  figure {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }

    to {
      -webkit-transform: scale(1);
    }
  }
  @keyframes zoom {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:focus,
  .close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    float: none;
    text-align: center;

    .thumbnail-container {
      margin-left: 0;
    }

    .modal-content {
      width: 100%;
    }
  }
}

section.bootstrap-modals-forms {
  button {
    i {
      padding-left: 0.7rem;
    }

    &.usa-button {
      font-weight: $normal;
      line-height: 1.25;
      width: auto;
      max-width: 36ch;
    }

    &.close {
      background-color: transparent;
      border: 0;
      -webkit-appearance: none;
      float: right;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.5;
    }
  }

  .modal-title,
  .modal-body h5
   {
    margin: 0;
    font-family: $sans;
    font-size: 2rem;
    max-width: 30ch;
  }

  .modal-body {
    h5 {
      font-size: 1.85rem;
    }

    ul {
      &.decision {
        padding: 1rem 0;

        button {
          min-width: 7rem;
        }
      }

      &.usa-unstyled-list {
        > li {
          &:last-child {
            margin-bottom: 1rem;
            line-height: 2.5;
          }
        }
      }
    }
  }
  // END .modal-body
  .modal-footer {
    .usa-button {
      background-color: transparent;
      color: inherit;
      font-weight: $normal;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
