@media print {
  a[href]:after {
    content: " (https://www.tsp.gov" attr(href) ")";
  }

  a.usa-skipnav {
    display: none;
  }

  section {

    &.site-banner {
      display: none;
    }

    &.footer-section {
      .usa-width-two-thirds {
        span {
          &:not(.nobr) {
            display: none;
          }
        }
      }
    }

    &.calculator-panel {
      div.panel-form-field {
        background-color: white;
      }
    }

  }

  header {
    display: block;

    .usa-navbar {
      height: 6rem;
    }

    button.usa-menu-btn {
      display: none;
    }

    .usa-logo {
      .usa-logo-text {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: $normal;

        a {
          display: flex;
          align-items: flex-end;
        }

        a:after {
          padding-left: 1rem;
          line-height: 1.4;
        }
      }

      img {
        height: 5rem;
        width: auto;
      }
    }
  }

  main {
    aside {
      display: none;
    }

    .usa-width-one-half {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 48.8211739883%;
    }
  }

  div#glossary {
    display: none;
  }

  footer {
    &:not([role="contentinfo"]) {
      border-top: 2px dotted #aeb0b5;
    }

    .footer-section {
      background-color: #fff;
      font-size: inherit;

      h2 {
        font-size: 2rem;
      }

      ul.usa-unstyled-list {
        display: block;
        margin-top: 1rem;

        li {
          display: list-item;

          img {
            height: 24px;
            padding-right: 0.7rem;
          }
        }
      }
    }

    .usa-footer-primary-section {
      display: none;
    }

    nav {
      display: none;
    }

    .usa-width-one-third { // Social media links in footer
      a[href]:after {
        content: "(" attr(href) ")";
      }
    }
  }
  // end footer
  div#shareModal {
    display: none;
  }

  a#fba-button {
    display: none;
  }
  // LISTS and buttons
  .usa-content {
    ol,
    ul {
      // &.adjust,
      &.navigation-buttons {
        display: none;
      }
    }
  }

  table {
    &.sticky {
      tr {
        th {
          position: initial; // unset any sticky header
          top: auto;
        }
      }
    }
  }
  @page {
    margin: auto 0.25in;
  }
}
