// RATES OF RETURNS

.usa-content {
  fieldset {
    &.lifecycle-funds,
    &.individual-funds  {
      margin-bottom: 3rem;
      ul {
        display: flex;
        flex-wrap: wrap;
        // to force line wrap in fund checkbox lists
        &::before,
        &::after {
          content: '';
          width: 100%;
          order: 1;
        }
        &:not(.usa-accordion),
        &:not(.usa-accordion-bordered) {
          max-width: none;
          li {
            min-width: 12rem;

            &:nth-child(n + 7) { // children 7 and beyond
              order: 1;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
      legend {
        font-size: 1.7rem;
        padding-bottom: 1.2rem;
      }
    }
    &.individual-funds {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: $large-screen) and (min-width: $medium-screen) {
    fieldset {
      &.lifecycle-funds,
      &.individual-funds {

        ul {
          &:not(.usa-accordion),
          &:not(.usa-accordion-bordered) {
            li {
              &:nth-child(n + 5) { // children 5-8
                order: 1;
              }
              &:nth-child(n + 9) { // children 9 and beyond
                order: 2;
              }
            }
          }
        }
      }
    }
  } // end @media (max: $large-screen) and (min: $medium-screen)

  @media screen and (max-width: $medium-screen) {
    fieldset {
      &.lifecycle-funds,
      &.individual-funds {
        ul {
          display: block;
        }
      }
      &.lifecycle-funds {
        float: left;
        width: 48%;
      }
    }
  } // end @media $medium-screen
} // end .usa-content
