// TEMPORARY STYLE FOR PANEL ACCORDIONS ON STATIC VERSION OF RBCO

ul.usa-accordion {
  &.rbco {
    .usa-accordion-content {
      // padding: 2.5rem 0 0;
    }
  }
}
// end TEMPORARY STYLES

section {
  &.calculator-panel {
    input[disabled] {
      cursor: default;
      color: $color-gray;
      font-style: italic;
    }

    button.usa-button,
    input {
      &.attention {
        background-color: $color-gold-light;
      }
    }

    button {
      .usa-button {
        &.attention {
          color: $color-base;
        }
      }
    }
    // 8. SUMMARY - Adjust your results
    #adjust-results {
      .usa-grid {
        &.caption {
          // border: 1px solid red;
          margin-bottom: 1.2rem;
          padding-top: 3rem;

          h2 {
            display: inline-flex;
          }

          a {
            margin-left: 2rem;
            font-weight: $normal;
          }
        }

        &.results {
          align-items: flex-start;
          background-color: #fff;

          .usa-width-one-half {
            padding: 1rem 0 2rem;

            h3 {
              font-family: $sans;
              font-size: inherit;
              margin: 1rem 0 0 0;
            }

            &:first-child {
              padding-left: 1.5rem;
            }
          }

          .usa-width-one-whole {
            ol {
              margin-top: 1rem;
              margin-bottom: 2rem;
            }
          }

          &.hide {
            display: none;
          }
        }
      }
    }
    // General sibling selector (~) Selects every .usa-grid.caption element that are preceded by a .usa-grid.results element
    .usa-grid.results ~ .usa-grid.caption {
      border-top: 1px dotted $color-gray-light;
    }
    // END 8. SUMMARY - Adjust your results
    .usa-button-secondary,
    button {
      &.delete {
        margin-right: 0;
        box-shadow: none;
        color: $color-base;

        &:after {
          font-size: 2rem;
          color: $color-gray-dark;
          transition: 0.3s;
          content: "\f1f8";
          font-weight: $bold;
        }

        &:hover:after {
          box-shadow: inherit;
          color: $color-error;
        }
      }
    }

    ul.usa-accordion-bordered {
      &.award {
        margin-top: 2rem;

        li {
          .usa-accordion-button {
            background-color: $color-gray-cool-light;

            &[aria-expanded="true"] + .usa-accordion-content {
              border-bottom: none;
            }

            &[aria-expanded="false"] + .usa-accordion-content {
              border-bottom: 3px solid $color-gray-cool-light;
              padding-bottom: 3rem;
            }
          }

          .usa-accordion-content {
            background-color: #ffffff;
            border: 3px solid $color-gray-cool-light;
            border-top: none;
            padding: 0 2rem 1rem;

            &:first-of-type {
              padding: 3rem 2rem 1rem;
            }
            // Dashed box with award options
            .award-body {
              border: 2px dashed $color-gray;
              padding: 1.5rem;
              font-family: $serif;
              font-size: 1.4rem;
              text-indent: 2em;
            }

            ul.buttons {
              margin: 1rem 0 0;
              display: flex;
              list-style-type: none;
              max-width: none;
              margin: 2rem 0;
              padding: 0;

              &.hide {
                visibility: hidden;
              }
            }

            .panel-form-field {
              background-color: inherit;
            }
          }
          // END .usa-accordion-content
          // .usa-accordion-button {
          //   &[aria-expanded="false"] + .usa-accordion-content {
          //       border-bottom: 3px solid $color-gray-cool-light;
          //     }
          //   }
        }
        // END li

        &.complete {
          li {
            .usa-accordion-button {
              background-color: $color-green-lightest;

              &[aria-expanded="false"] + .usa-accordion-content {
                border-bottom: 3px solid $color-green-lightest;
              }
            }

            .usa-accordion-content {
              border: 3px solid $color-green-lightest;
              border-top: none;
              // &:first-of-type {
              //   border-bottom: none;
              // }
            }
          }
        }
      }
      //END &.award
    }
  }
  // END .calculator-panel
}
// END section

.panel-form-field {
  &.account-types {
    ul {
      &.account-type,
      &.usa-unstyled-list {
        li {
          // border: 1px solid red;
          &:last-child {
            margin-bottom: 4rem;
            // border-color: blue;
            padding-left: 3rem;

            label {
              margin-top: 1.75rem;
            }

            .dual-accounts {
              max-width: 46rem;
              padding: 0.3rem 0;

              i {
                color: $color-gray;
                margin-right: 0.7rem;
                font-size: 2.1rem;
                line-height: 1.4;
              }
            }
          }
        }
      }
    }
  }
}
// END .panel-form-field

.usa-content {
  ul {
    &.navigation-buttons {
      &.stacked {
        button {
          width: 80%;
        }

        li {
          &:last-child {
            button {
              font-size: 2rem;
              line-height: 1.4;
              font-weight: $normal;
            }
          }
        }
      }
    }
  }
}

.button-stack {
  text-align: center;
  width: 100%;
  margin: 2rem 0;
  padding: 0;

  button {
    width: 66%;

    &:last-child {
      font-size: 2rem;
      line-height: 1.4;
      font-weight: $normal;
    }
  }
}
@media only screen and (max-width: $small-screen) {
  .usa-content {
    ul {
      &.navigation-buttons {
        &.stacked {
          button {
            width: 100%;
          }

          li {
            &:last-child {
              button {
                font-weight: $medium;
              }
            }
          }
        }
      }
    }
  }

  .button-stack {
    button {
      width: 100%;

      &:last-child {
        font-weight: $medium;
      }
    }
  }
}

@media print {
  .progress-bar {
    ol.progstep,
    ol.progtrckr {
      li {
        color: $color-base;
        font-weight: $normal;
        border-radius: 0;
        opacity: .5;
      }
    }

    ol.progstep {
      li {
        background-color: transparent;
        outline: 1px solid $color-base;

        &.progstep-active {
          color: white;
          font-weight: $bold;
          background-color: $color-base;
          outline-width: 2px;
          opacity: 1;
        }
      }
    }

    ol.progtrckr {
      li {
        border-top: none;

        &.progtrckr-active {
          font-weight: $bold;
          text-decoration: underline;
          opacity: 1;
        }
      }

    }
  }

  #panel-8 {
    > p {
      display: none;
    }
    ul.usa-accordion-bordered.adjust {
      button.usa-accordion-button {
        display: none;
      }

      div.usa-grid.caption {
        a {
          display: none;
        }
      }

      .usa-accordion-content {
        border: none;
      }
    }
  }
}

// END @media print
