table {
  &.sticky-header {
    table-layout: fixed;
    border: none;
    border-collapse: separate;
    border: 1px solid $color-gray-light;
    margin: auto;
    width: auto;

    tr {
      th {
        position: sticky;
        top: 0;
        z-index: 2;
        text-align: center;

        &[scope="row"] {
          left: 0;
          z-index: 1;
        }

        &:not([scope=row]) {
          &:first-child {
            left: 0;
            z-index: 3;
          }
        }
      }
    }
    // end tr
  } // end &.sticky-header

  &.dynamic-share-price-table { // This should be removed when table css is centralized
    tbody {
      th {
        white-space: nowrap;
      }
    }
  }
} // end table

@media screen and (max-width: $large-screen) {
  div.table {
    overflow: auto; // for side scroll in mobile
  }
}
// end @media

.two-columns {
  tr {
    th:first-child {
      width: 50%;
    }
  }
}

section.charts {
  table.chart {
    width: 100%;
    table-layout: fixed;
    margin-top: 2.2rem;

    &.open-season {
      colgroup {
        width: 50%;
      }

      .empty-cell {
        background-color: $color-gray-lightest;
      }
    }

    &.percentage-limits {
      td[colspan] {
        text-align: center;
      }
    }

    &.contribution-limits {
      colgroup {
        width: 12rem;
      }

      th {
        text-align: center;
      }

      td {
        text-align: right;
      }
    }
  }
}

// SCROLL LEFT & RIGHT table buttons
div.table-scroll-buttons {
  margin-top: 3rem;
  text-align: center;

  @media only screen and (max-width: #{$large-screen}) {
      button {
        display: none;
      }
  }
}


section {

  &.rates-of-return-table,
  &.share-price-table {
    // Width for "sticky" left-column header
    .column-width {
      width: 9em;
    }
  }
}
// end section
// "STICKY" LEFT-COLUMN HEADER: Share price history & Rates of return
.table-side-scroll {
  overflow: auto;
}
// end .table-side-scroll

.table-side-scroll,
.table {
  // parent container
  position: relative;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  scroll-behavior: smooth;

  .empty-table-cell {
    background-color: $color-gray-lightest;
  }

  table {
    table-layout: fixed;
    width: auto;
    // min-width: 1280px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;

    td,
    th {
      border-top: none;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-left: none;
      vertical-align: middle;
      padding: 1rem 1.5rem;
    }

    td {
      text-align: right;
      background: #fff;
    }

    th {
      background: $color-gray-lightest;

      &:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
        padding: 1rem 1.5rem;
      }
    }

    thead {

      th {
        border-top: 3px solid #ddd;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        text-align: center;
        // width: 5rem;
        &:first-child {
          position: sticky;
          z-index: 5;
          // background: #333;
          text-align: left;
          border-top: 3px solid #ddd;
        }

        &.border-g-fund {
          border-top: $border-g;
        }

        &.border-index-g {
          border-top: $border-index-g;
        }

        &.border-f-fund {
          border-top: $border-f;
        }

        &.border-index-f {
          border-top: $border-index-f;
        }

        &.border-c-fund {
          border-top: $border-c;
        }

        &.border-index-c {
          border-top: $border-index-c;
        }

        &.border-s-fund {
          border-top: $border-s;
        }

        &.border-index-s {
          border-top: $border-index-s;
        }

        &.border-i-fund {
          border-top: $border-i;
        }

        &.border-index-i {
          border-top: $border-index-i;
        }

        &.border-l-fund {
          border-top: $border-l;
        }
      }
    }
    // end thead
    tbody {
      &.monthly-returns {
        th {
          // background-color: ;
          text-indent: 1rem;
        }
      }
      // end .monthly-returns
      &.annual-returns {
        th {
          white-space: nowrap;
        }
        label {
          display: block;
          margin-top: 0;

          &.bounce:after,
          &:after {
            font-family: $font-awesome;
            font-weight: $light;
            padding-left: 1em;
            font-size: 0.9em;
            content: "\f055";
          }

          &.bounce:after {
            content: "\f056";
          }
        }
      }
      // end .annual-returns
    }
    // end tbody
    [data-toggle="toggle"] {
      display: none;
    }
  }
  // end table
}
// end .table-side-scroll, .table

// RESPONSIVE COMPARISON: Administrative costs
// Dependencies: /assets/js/jquery.min.js, responsive-comparison-table.js
section.comparison,
section.comparison.contribution-comparison-calculator,
section.comparison.paycheck {
  ul {
    &.funds-individual,
    &.funds-lifecycle,
    &.table-header-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      top: 0;
      z-index: 10;
      padding-bottom: 14px;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      max-width: 100% !important;

      li {
        list-style: none;
        flex: 0 1 20%;
        margin-bottom: 0;

        &:nth-child(5n) { // select every 5th li
          button { // add border-right to its button
            &[type="button"] {
              border-right: 1px solid #DDD;
            }
          }
        } // end &:nth-child(5n)

          button {
            &[type="button"] {
              width: 100%;
              background-color: inherit;
              border: 1px solid #DDD;
              border-top: 3px solid #0097CF;
              border-right: 0;
              // border-top:0;
              padding: 10px 1px;
              margin: 0;
              font-size: 14px;
              font-weight: bold;
              height: 60px;
              color: #999;
              border-radius: 0;
            }
          }
          // end button
          &.active {
            button {
              &[type="button"] {
                background-color: #F5F5F5;
                color: $color-base;
                border-top: 3px solid #A32362;
              }
            }
          }
          // end &.active
        }
        // end li
      }
      // END &.table-header-buttons, &.funds-lifecycle, &.funds-individual
      &.table-header-buttons {
        li {
          flex: 1;
        }
      }
      // END &.table-header-buttons
    }
    // END ul
    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      margin-top: 0;

      th,
      td {
        height: 53px;
        border: 1px solid #DDD;
        padding: 1rem;
        empty-cells: show;
        // text-align: left;
      }

      th {
        // background:#F5F5F5;
        // display:none;
        // text-align: left;
      }

      td,
      th+th {
        // th+th omits the first <th> following a <tr>
        // targets the column headers in thead
        text-align: center;
        display: none;
      }

      td {
        text-align: right;
        &.default {
          display: table-cell;
        }
      }

      thead {
        th {
          border-top: 3px solid #0097CF;
          padding: 10px 0;
        }
      }

      sup {
        padding-left: 0.3rem;
      }
    }
    // END table
    .bg-purple {
      border-top: 3px solid #A32362;
    }

    .compare-two,
    .sep,
    .sep-individual {
      background: #F5F5F5;
      font-weight: bold;
    }

    .txt-l {
      font-size: 28px;
      font-weight: bold;
    }

    .txt-top {
      position: relative;
      top: -9px;
      left: -2px;
    }

    .tick {
      font-size: 18px;
      color: #2CA01C;
    }

    .hide {
      border: 0;
      background: none;
    }
    @media (min-width: $medium-screen) {
      ul {
        &.funds-individual,
        &.funds-lifecycle,
        &.table-header-buttons {
          display: none;
        }
      }

      table {
        // width: 110%;
      }

      td,
      th {
        display: table-cell !important;
      }

      td+td,
      th+th {
        width: auto;
      }

      col.column-width {
        width: 9rem;
      }
    }

    &.contribution-comparison-calculator,
    &.paycheck {
      table {
        .w {
          width: auto;
          max-width: 30rem;
        }

        tr.emphasis {
          td+td {
            font-size: 3rem;
          }
          td {
            font-size: 3rem;
          }
        }

        td+td {
          // Omits the first <td> following a <tr>; every <td> that follows a <td>
          text-align: right;
          padding-right: 1rem;
          // display:none;
        }
      }
      // end table
    }
    // end &.paycheck, &.contribution-comparison-calculator
  }
  // end section.comparison
